<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BookingMapper">

    <select id="getListByUser" parameterType="String" resultType="org.zerock.domain.BookingVO">
        SELECT b.* 
        FROM booking b
        JOIN board bo ON b.board_no = bo.board_no
        JOIN member m ON bo.member_id = m.id
        WHERE m.id = #{memberId}
    </select>

    <select id="read" parameterType="Long" resultType="org.zerock.domain.BookingVO">
        SELECT * FROM booking WHERE booking_no = #{booking_no}
    </select>

    <delete id="delete" parameterType="Long">
        DELETE FROM booking WHERE booking_no = #{booking_no}
    </delete>

</mapper>
