<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BookingMapper">
	<resultMap id="bookingResultMap" type="org.zerock.domain.BookingVO">
		<result column="board_no" property="boardNo"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="people_count" property="peopleCount"/>
		<result column="price" property="price"/>
		<result column="total_price" property="totalPrice"/>
	</resultMap>

	<insert id="insertBooking" >
		insert into booking values (null, #{boardNo}, #{startDate}, #{endDate}, #{peopleCount}, #{price}, #{totalPrice}, #{memberId})
	</insert>

	<select id="selectBookingNo" resultType="Integer">
		select max(booking_no) from booking where member_id = #{memberId};
	</select>
	
	<resultMap id="cardResultMap" type="org.zerock.domain.CardVO">
		<result column="card_num" property="cardNum"/>
		<result column="member_id" property="memberId"/>
		<result column="bank" property="bank"/>
		<result column="card_pass" property="cardPass"/>
		<result column="balance" property="balance"/>
	</resultMap>
	
	<select id="selectCard" resultMap="cardResultMap">
		select * from card where member_id=#{memberId}
	</select>
	
	<update id="updateBalance">
		update card set balance=#{balance} where card_num = #{cardNum}
	</update>
	
	<insert id="insertPayment">
		insert into payment values (null, #{card.memberId}, #{card.cardNum}, #{card.bank}, #{bookingNo})
	</insert>
	
	    <select id="getListByUser" parameterType="String" resultType="org.zerock.domain.BookingVO">
        SELECT b.* 
        FROM booking b
        JOIN board bo ON b.board_no = bo.board_no
        JOIN member m ON bo.member_id = m.id
        WHERE m.id = #{memberId}
    </select>

    <select id="read" parameterType="Long" resultType="org.zerock.domain.BookingVO">
        SELECT * FROM booking WHERE booking_no = #{booking_no}
    </select>

    <delete id="delete" parameterType="Long">
        DELETE FROM booking WHERE booking_no = #{booking_no}
    </delete>
    
</mapper>
