<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">

	<select id="login" parameterType="org.zerock.domain.MemberVO"
		resultType="org.zerock.domain.MemberVO">
		SELECT * FROM member WHERE id = #{id} AND password =
		#{password}
	</select>
	
	
	<insert id="insertMember" parameterType="org.zerock.domain.MemberVO">
		INSERT INTO member (id, password, name, email, phone)
		VALUES (#{id}, #{password}, #{name}, #{email}, #{phone})
	</insert>

	
	<update id="updateMember"
		parameterType="org.zerock.domain.MemberVO">
		 UPDATE member
        SET password = #{password}, phone = #{phone}, name = #{name}, email = #{email}
        WHERE id = #{id}
	</update>

<select id="getMember" parameterType="String" resultType="org.zerock.domain.MemberVO">
        SELECT * FROM member WHERE id = #{id}
    </select>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member WHERE id = #{id}
	</delete>
</mapper>
